.features {
    background-color: #1A1A1A;
    width: 1440px;
    position: relative;
    padding: 160px;

    .title {
        font-family: Agrandir;
        font-style: normal;
        font-weight: 800;
        font-size: 74px;
        line-height: 82px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .subtitle {
        margin-top: 26px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;
        width: 474px;
        &::after{
            content: '';
            
        }
    }
}